kind: Namespace
apiVersion: v1
metadata:
  name: iperf3-test
---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: iperf3
    node: mako1
  name: iperf3-mako1-pod
  namespace: iperf3-test
spec:
  nodeName: mako1
  containers:
    - name: iperf3server
      image: thomasferrandiz/iperf3:v0.0.1
      imagePullPolicy: Always
      command: ["iperf3", "-s"]
      ports:
      - containerPort: 5201
        name: iperf3
      - containerPort: 5201
        name: iperf3-udp
        protocol: UDP
---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: iperf3
    node: mako2
  name: iperf3-mako2-pod
  namespace: iperf3-test
spec:
  nodeName: mako2
  containers:
    - name: iperf3server
      image: thomasferrandiz/iperf3:v0.0.1
      imagePullPolicy: Always
      command: ["iperf3", "-s"]
      ports:
      - containerPort: 5201
        name: iperf3
      - containerPort: 5201
        name: iperf3-udp
        protocol: UDP
         
--- 
apiVersion: v1
kind: Service
metadata:
  name: iperf3-mako1
  namespace: iperf3-test
spec:
  selector:
    app: iperf3
    node: mako1
  ports:
  - name: iperf3
    port: 5201
    protocol: TCP
    targetPort: iperf3
  - name: iperf3-udp
    port: 5201
    protocol: UDP
    targetPort: iperf3-udp
--- 
apiVersion: v1
kind: Service
metadata:
  name: iperf3-mako2
  namespace: iperf3-test
spec:
  selector:
    app: iperf3
    node: mako2
  ports:
  - name: iperf3
    port: 5201
    protocol: TCP
    targetPort: iperf3
  - name: iperf3-udp
    port: 5201
    protocol: UDP
    targetPort: iperf3-udp
